
/********** Base styles **********/
h1 {
    margin-bottom: 30px;
  font-size: 30pt;
  text-align: center;
  width: 100%;
}

div {
    float: right;
    border: 1px solid black;
    margin-bottom: 15px;
    background-color: gray;
  }

#p1 {
  width: 300px;
  height: 300px;

}
#p2 {
  width: 300px;
  height: 300px;

}
#p3 {
    width: 300px;
    height: 300px;
  }
  #p11 {
    background-color: #d84a4adc;
    font-size: 24pt;

  }
  #p22 {
    background-color: #9b3e27;
    color: white;
    font-size: 24pt;

  }
  #p33 {
      background-color: #d8e700;
      font-size: 24pt;
     

    }  
    #l11 {
        float: left;
        border: 0px solid black;
        margin-bottom: 15px;
      }
      #l22 {
        float: left;
        border: 0px solid black;
        margin-bottom: 15px;
      }
      #l33 {
        float: left;
        border: 0px solid black;
        margin-bottom: 15px; 
    
        }  
/********** Large devices only **********/
@media (min-width: 1200px) {
    #p1 {
        width: 30%;
        float: left;
        margin-right: 15px;
      }
      #p2 {
        width: 30%;
        float: left;
        margin-right: 15px;
      }
      #p3 {
        width: 30%;
        float: left;
      }
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    #p1 {
        width: 48%;
        float: left;
        margin-right: 15px;
      }
      #p2 {
        width: 48%;
        float: right;
      }
      #p3 {
        width: 100%;
        float: left;
      }
}
@media (min-width: 0px) and (max-width: 991px) {
    #p1 {
        width: 100%;
      }
      #p2 {
        width: 100%;
      }
      #p3 {
        width: 100%;

      }
}
