/********** Base styles **********/
h1 {
    margin-bottom: 30px;
  font-size: 30pt;
  text-align: center;
  width: 100%;
}

div {
    float: right;
    margin-bottom: 15px;
    background-color: gray;
  }

.box{

    border: 1px solid black;
    width: 300px;
    height: 300px;
    }

.header{
    border: 1px solid black;
    font-size: 24pt;
    }

.text{
    clear: both;
    border: 0px solid black;
}

  #p1 {

  }
  #p2 {

  }
  #p3 {

    }

  #p11 {
    background-color: #d84a4adc;

  }
  #p22 {
    background-color: #9b3e27;
    color: white;
  }
  #p33 {
      background-color: #d8e700;

    }  

/********** Large devices only **********/
@media (min-width: 1200px) {
    #p1 {
        width: 30%;
        float: left;
        margin-right: 15px;
      }
      #p2 {
        width: 30%;
        float: left;
        margin-right: 15px;
      }
      #p3 {
        width: 30%;
        float: left;
      }
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    #p1 {
        width: 48%;
        float: left;
        margin-right: 15px;
      }
      #p2 {
        width: 48%;
        float: right;
      }
      #p3 {
        width: 100%;
        float: left;
      }
}
@media (min-width: 0px) and (max-width: 991px) {
    #p1 {
        width: 100%;
      }
      #p2 {
        width: 100%;
      }
      #p3 {
        width: 100%;

      }
}